extend ../_component/layout/base.pug

block config
    -
        let title = 'Contact My Blog';
        let description = "Contact me, the creator, Teh Chai Chong";
block content
    .content
        h2 Contact Information
        p You can find me on those social media platforms:
        ul
            li
                a(href="") Facebook
            li
                a(href="") Twitter
            li
                a(href="") LinkedIn
            li
                a(href="") YouTube
            li
                a(href="") StackOverflow
        hr
        figure.image-container
            img.image(src="/asset/image/november.jpg")
            figcaption.image-caption
                strong Note:
                span Leaves fall down in November