footer
    .footer
        div &copy; 2018 My Awesome Blog
        ul.footer__list
            li
                a.footer__link(href='/privacy.html') Privacy
            li
                a.footer__link(href='/policy.html') Policy