extend _component/layout/base.pug

block config
    -
        let title = 'About My Blog'
        let description = "My Blog is one of the quickest and fastest tool for writing blogs in the world"
block content
    h1=title
    p=description